# Java build artifacts
*.class
*.log
out/
build/

# VS Code settings (keep launch.json)

# OS-specific files
.DS_Store
Thumbs.db

# ignore lib folder except .jar files
libs/*

# ignore Gradle project-specific cache directory
.gradle

# ignore Gradle build output directory
build


# ignore resources
resources/project/

# ignore the presentation and report
project_presentation
project_report

# ignore the polypheny-all.jar and app.jar files
app\build\libs

# ignore the matlab add-on folder structure
matlab-polypheny-connector/jar/polypheny-all.jar
matlab-polypheny-connector/resources
matlab-polypheny-connector/libs/polypheny-jdbc-driver-2.3.jar
matlab-polypheny-connector/Toolbox1/PolyphenyConnector.mltbx
matlab-polypheny-connector/Toolbox1/release/*.mltbx
