# Java build artifacts
*.class
*.log
out/
build/

# VS Code settings (keep launch.json)

# OS-specific files
.DS_Store
Thumbs.db

# Ignore lib folder except .jar files
libs/*

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# ignore the polypheny-all.jar and app.jar files
app\build\libs

# ignore the matlab add-on folder structure
matlab-polypheny-connector

/matlab-polypheny-connector/Toolbox1/